$header-height: 60px;
$footer-height: 48px;
$main-height: calc(100vh - #{$header-height} - #{$footer-height});
$side-bar-width: 120px;

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --header-height: #{$header-height};
  --main-height: #{$main-height};
  --footer-height: #{$footer-height};
  --side-bar-width: #{$side-bar-width};
}
